<div class="container">
	<div class="jumbotron">
		<ul class="nav nav-tabs">
	  <li class="active"><a href="#ar_profile" data-toggle="tab" aria-expanded="true">Universities</a></li>
	</ul>
		<div id="myTabContent" class="tab-content">
		  <div class="tab-pane fade active in" id="ar_profile">
		  	<%= render partial: '/unm_dash/universities_list'%>
		  </div>
		</div>
	</div>
</div>