<div class="container">
	<div class="jumbotron">
		<ul class="nav nav-tabs">
	  <li class="active"><a href="#ar_profile" data-toggle="tab" aria-expanded="true">Profile</a></li>
	  <li class=""><a href="#ar_myFile" data-toggle="tab" aria-expanded="false">My files</a></li>
	  <li><a href="#ar_package" data-toggle="tab" aria-expanded="false">Membership</a></li>
	  <li class=""><a href="#ar_instruction" data-toggle="tab" aria-expanded="false">Instructions</a></li>
	</ul>
		<div id="myTabContent" class="tab-content">
		  <div class="tab-pane fade active in" id="ar_profile">
		  	<%= render template: '/profiles/show'%>
		  </div>
		  <div class="tab-pane fade" id="ar_myFile">
		  	<%= render partial: 'uploaded_files'%>
		  </div>
		  <div class="tab-pane fade" id="ar_package">
		  	<%= render partial: 'membership'%>
		  </div>
		  <div class="tab-pane fade" id="ar_instruction">
		  	<%= render partial: 'instruction'%>
		  </div>
		</div>
	</div>
</div>