<div class="container">
	<div class="jumbotron">
		<ul class="nav nav-tabs">
	  <li class="active"><a href="#en_home" data-toggle="tab" aria-expanded="true">Profile</a></li>
	  <li class=""><a href="#en_myFile" id="uploadedFile" data-toggle="tab" aria-expanded="false">My files</a></li>
	  <li><a href="#en_package" data-toggle="tab" aria-expanded="false" id="en_membership">Membership</a></li>
	  <li class=""><a href="#en_instruction" id="en_instructionID" data-toggle="tab" aria-expanded="false">Instructions</a></li>
	</ul>
		<div id="myTabContent" class="tab-content">
		  <div class="tab-pane fade active in" id="en_home">
		  		<%#binding.pry%>
		    <%= render template: '/profiles/show'%>
		  </div>
		  <div class="tab-pane fade" id="en_myFile">
		    <%= render partial: 'uploaded_files'%>
		  </div>
		  <div class="tab-pane fade" id="en_package">
		  	<%= render partial: 'membership'%>
		  </div>
		  <div class="tab-pane fade" id="en_instruction">
		    <%= render partial: 'instruction'%>
		  </div>
		</div>
	</div>
</div>