<% if @unm_un.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(unm_un.errors.count, "error") %> prohibited this unm_un from being saved:</h2>

    <ul>
    <% unm_un.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>