<% if @st_ma_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@st_ma_file.errors.count, "error") %> prohibited this st_ma_file from being saved:</h2>

      <ul>
      <% @st_ma_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>