<% @university_specialities = [] %>
<% University.find(params[:university_id]).faculties.each do |faculty| %>
  <% @faculty_specialty_ids = faculty.uni_faculties_speciality.delete('"" ') %>
    <% @specialities_array_ids = @faculty_specialty_ids.tr('[]', '').split(',').map(&:to_i) %>
    <% FacultySpeciality.where(id: @specialities_array_ids).each do |specs| %>
    <% @university_specialities << specs.speciality %>
  <% end %>
<% end %>
<% @university_specialities.each do |speciality|%>
<option value="<%= speciality %>"><%= speciality%></option>
<%end%>