/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "paper";
@import "font-awesome";

ul {
  padding-left: 0px;
  list-style: none;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.btn {
  text-transform: capitalize!important;
  }

.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}


.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}

.custom{
  float: right;
  margin-top: -13px;
  width: 22%;
}

.back{
  float: right;
  margin-top: -13px;
  width: 10%;
}

.view{
  float: right;
  margin-top: -13px;
  margin-right: 10px;
  width: 15%;
}
.upload_area{
  background: rgba(12, 124, 213, 0.08);
  padding: 3px;
  border-radius: 2px;
}
.upload_div{
  background: rgba(33, 150, 243, 0.06);;
  border-radius: 5px;
  padding: 10px;
}

.jumbotron p {
  font-size: 15px;
}

.replies {margin-left: 50px;}
.replies .replies .replies .replies .replies {margin-left: 0;}